

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================================================
COLORES Y FONDOS
========================================================= */
body {
  font-family: 'Inter', sans-serif;
  background:
    linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)),
    url(../img/street.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #eaeaea;
  line-height: 1.7;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Special+Elite&display=swap');


header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(12,12,12,0.95);
  border-bottom: 2px solid #c6a84f;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-family: 'Special Elite', cursive;
  color: #c6a84f;
  letter-spacing: 5px;
  font-size: 1.8rem;
  text-shadow: 0 0 8px rgba(198,168,79,0.6);
}


.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}

.menu a {
  text-decoration: none;
  color: #eaeaea;
  font-size: 0.9rem;
  position: relative;
  transition: 0.3s;
}

.menu a:hover {
  color: #c6a84f;
}

main {
  width: 85%;
  max-width: 1150px;
  margin: auto;
}

section {
  margin: 60px 0;
  padding: 35px;
  background-color: rgba(24,24,24,0.9);
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(198,168,79,0.15);
}


section h2 {
  color: #c6a84f;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 25px;
  font-weight: 600;
}

section h3 {
  color: #e6d28b;
  margin-bottom: 10px;
}


p {
  margin-bottom: 15px;
}

ul, ol {
  margin-left: 25px;
}

li {
  margin-bottom: 10px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: rgba(0,0,0,0.6);
}

caption {
  margin-bottom: 15px;
  color: #e6d28b;
  font-weight: 600;
}

th, td {
  border: 1px solid #c6a84f;
  padding: 12px;
}

th {
  background-color: #c6a84f;
  color: #000;
  text-align: center;
}

td {
  color: #eaeaea;
}


form {
  width: 60%;
  margin: auto;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 6px;
  color: #e6d28b;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: none;
}

/* BOTÓN */
input[type="submit"] {
  background-color: #c6a84f;
  color: #000;
  font-weight: 600;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #f0dc8f;
}


#s5 img {
  margin: 15px;
  border-radius: 15px;
  border: 3px solid #c6a84f;
  filter: grayscale(50%);
  transition: 0.4s;
}

#s5 img:hover {
  filter: grayscale(0%);
  transform: scale(1.07);
  box-shadow: 0 0 20px rgba(198,168,79,0.7);
}


footer {
  background-color: rgba(12,12,12,0.95);
  border-top: 2px solid #c6a84f;
  text-align: center;
  padding: 20px;
  color: #c6a84f;
  font-size: 0.85rem;
}

